{% extends 'base.html.twig' %}
{% block scripts %}
    <script src="{{ asset('js/angular-1.6.9/angular.js') }}"></script>
    <script src="{{ asset('js/angular-1.6.9/angular-route.js') }}"></script>
    <script src="{{ asset('js/ang.js') }}"></script>
    <script src="{{ asset('js/node_modules/angular-file-upload/dist/angular-file-upload.js') }}" ></script>
    <script>
        function initFileupload() {
            $('#form_image').fileupload({
                url: '{{ path('rest_blog_upload') }}',
                dataType: 'json',
                done: function (e, data) {
                    console.log(data.result);
                    return;
                    if (data.result.status) {
                        $('#blog_post_image').css('width', '150px');
                        $('#blog_post_image').attr('src', '/uploads/images/' + data.result.data.image);
                        $('#blog_post_image').show();

                        $('#blog_post__image_id').val(data.result.data.id);
                        $('#blog_post__image_token').val(data.result.data.token);
                    }
                    console.log(data);
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            })
        }
    </script>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
            <div class="text-right">
                <a class="btn btn-primary" href="#!/post-add">Add</a>
            </div>
            <div id="welcome">
                <h1><span>REST ANGULAR BLOG</span></h1>
            </div>

            <div ng-view class="view-frame"></div>

            <div class="ang-blog-root" ng-app="blogApp">
                <div ng-view>

                </div>
                {#<div ng-controller="PostsListController">#}
                    {#<table class="table">#}
                        {#<thead>#}
                            {#<tr>#}
                                {#<th></th>#}
                                {#<th>Title</th>#}
                                {#<th>Short</th>#}
                            {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                            {#<tr ng-repeat="item in items">#}
                                {#<td><img onload="$(this).show()" style="display: none; width: 150px;" src="/uploads/images/{[{ item.pic }]}"/></td>#}
                                {#<td><a href="#!/posts/{[{ item.id }]}">{[{ item.title }]}</a></td>#}
                                {#<td>{[{ item.body }]}</td>#}
                            {#</tr>#}
                        {#</tbody>#}
                    {#</table>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        #rest-container {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid gray;

        }
    </style>
{% endblock %}