{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ knp_menu_render('AppBundle:Builder:mainMenu') }}

            <div class="text-center">
                <a class="btn btn-danger" href="javascript://" onclick="history.back()">Back</a>
            </div>

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr' : {'class': 'form-control'}}) }}
                    <p class="help-block">{{ form_errors(form.title) }}</p>
                </div>
                <div class="form-group">
                    {{ form_label(form.short) }}
                    {{ form_widget(form.short, {'attr' : {'class': 'form-control'}}) }}
                    <p class="help-block">{{ form_errors(form.short) }}</p>
                </div>
                <div class="form-group">
                    {{ form_label(form.body) }}
                    {{ form_widget(form.body, {'attr' : {'class': 'form-control'}}) }}
                    <p class="help-block">{{ form_errors(form.body) }}</p>
                </div>
                <div class="form-group">
                    {{ form_widget(form.pic, {'attr' : {'class': 'form-control'}}) }}
                    <p class="help-block">{{ form_errors(form.pic) }}</p>
                    <img style="display: none;" onload="$(this).show();" class="product-image-preview" src="{{ asset('/uploads/images/') ~ form.vars.value.pic }}"/>
                </div>
                <div class="form-group text-right">
                    {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-primary'}}) }} or <a href="" onclick="history.back(); return false;">cancel</a>
                </div>
            {{ form_end(form) }}


        </div>
    </div>
{% endblock %}